*{margin:0;
padding:0;
}
body{
background-image:url("5.jpeg");
background-repeat:no-repeat;
height:100%;
}
#heading{
color:red;
text-align:center;
position:relative;
font-size:50px;
animation-name:Boss;
animation-duration:5s;
animation-iteration-count:1;
animation-fill-mode:forwards;
}
@keyframes Boss{
0%{color:blue;
right:600px;
opacity:0;}
100%{
color:red;
opacity:1;
right:10px;}

}

#login
{
float:left;
margin-left:10px;
position:relative;
animation-name:loganim;
animation-duration:5s;
animation-fill-mode:forwards;}
@keyframes loganim{
0%{top:60px;
   opacity:0;
   }
100%{
opacity:1;
top:0px;}
}
#aboutus{
float:left;
margin-left:10px;
animation-name:log;
position:relative;
animation-duration:5s;
animation-fill-mode:forwards;}
@keyframes log{
0%{right:60px;
   opacity:0;
   }
100%{
opacity:1;
right:0px;}
}
#register{
float:left;
margin-left:100px;
position:relative;
animation-name:logani;
animation-duration:5s;
animation-fill-mode:forwards;}
@keyframes logani{
0%{left:60px;
   opacity:0;
   }
100%{
opacity:1;
left:0px;}
}
.but{
color:black;
background:lightblue;
font-size:20px;}